/***************************************************************************************************************************
**此文件应在名indexStyle的文件中，但由于部分内容随着屏幕的变化，差异较大提取出来，与indexTextOneStyle02文件共用解决差异*************
****************************************************************************************************************************/
.text01-top01 {
  width: 10rem;
  height: 5.33333333rem;
  display: flex;
}
.text01-top01 .text01-top01-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-top: 0.06666667rem;
  padding-left: 0.13333333rem;
  background: #FFFFFF;
  font-size: 0.21333333rem;
  box-sizing: border-box;
}
.text01-top01 .text01-top01-left .text01-top01-left-01 {
  padding-bottom: 0.06666667rem;
  border-bottom: 0.01333333rem dashed black;
}
.text01-top01 .text01-top01-left .text01-top01-left-01 ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-size: 0.17333333rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-01 ul .li01 {
  margin-right: 0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-01 ul .li02 {
  margin-left: 0.04rem;
  margin-right: 0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-01 ul .li02::after {
  content: "";
  display: block;
  background: black;
  width: 0.01333333rem;
  height: 0.17333333rem;
  margin-top: -0.21333333rem;
  margin-left: -0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-01 ul .li03 {
  margin-left: 0.04rem;
  margin-right: 0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-01 ul .li03::after {
  content: "";
  display: block;
  background: black;
  width: 0.01333333rem;
  height: 0.17333333rem;
  margin-top: -0.21333333rem;
  margin-left: -0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-01 ul .li04 {
  margin-left: 0.04rem;
  margin-right: 0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-01 ul .li04::after {
  content: "";
  display: block;
  background: black;
  width: 0.01333333rem;
  height: 0.17333333rem;
  margin-top: -0.21333333rem;
  margin-left: -0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-01 ul .li05 {
  margin-left: 0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-01 ul .li05::after {
  content: "";
  display: block;
  background: black;
  width: 0.01333333rem;
  height: 0.17333333rem;
  margin-top: -0.21333333rem;
  margin-left: -0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-02 {
  padding-bottom: 0.06666667rem;
  border-bottom: 0.01333333rem dashed black;
}
.text01-top01 .text01-top01-left .text01-top01-left-02 ul {
  list-style: none;
  display: flex;
  font-size: 0.17333333rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-02 ul .li01 {
  margin-right: 0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-02 ul .li02 {
  margin-left: 0.04rem;
  margin-right: 0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-02 ul .li02::after {
  content: "";
  display: block;
  background: black;
  width: 0.01333333rem;
  height: 0.17333333rem;
  margin-top: -0.21333333rem;
  margin-left: -0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-02 ul .li03 {
  margin-left: 0.04rem;
  margin-right: 0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-02 ul .li03::after {
  content: "";
  display: block;
  background: black;
  width: 0.01333333rem;
  height: 0.17333333rem;
  margin-top: -0.21333333rem;
  margin-left: -0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-02 ul .li04 {
  margin-left: 0.04rem;
  margin-right: 0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-02 ul .li04::after {
  content: "";
  display: block;
  background: black;
  width: 0.01333333rem;
  height: 0.17333333rem;
  margin-top: -0.21333333rem;
  margin-left: -0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-02 ul .li05 {
  margin-left: 0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-02 ul .li05::after {
  content: "";
  display: block;
  background: black;
  width: 0.01333333rem;
  height: 0.17333333rem;
  margin-top: -0.21333333rem;
  margin-left: -0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-03 {
  padding-bottom: 0.06666667rem;
  border-bottom: 0.01333333rem dashed black;
}
.text01-top01 .text01-top01-left .text01-top01-left-03 ul {
  list-style: none;
  display: flex;
  font-size: 0.17333333rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-03 ul .li01 {
  margin-right: 0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-03 ul .li02 {
  margin-left: 0.04rem;
  margin-right: 0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-03 ul .li02::after {
  content: "";
  display: block;
  background: black;
  width: 0.01333333rem;
  height: 0.17333333rem;
  margin-top: -0.21333333rem;
  margin-left: -0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-03 ul .li03 {
  margin-left: 0.04rem;
  margin-right: 0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-03 ul .li03::after {
  content: "";
  display: block;
  background: black;
  width: 0.01333333rem;
  height: 0.17333333rem;
  margin-top: -0.21333333rem;
  margin-left: -0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-03 ul .li04 {
  margin-left: 0.04rem;
  margin-right: 0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-03 ul .li04::after {
  content: "";
  display: block;
  background: black;
  width: 0.01333333rem;
  height: 0.17333333rem;
  margin-top: -0.21333333rem;
  margin-left: -0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-03 ul .li05 {
  margin-left: 0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-03 ul .li05::after {
  content: "";
  display: block;
  background: black;
  width: 0.01333333rem;
  height: 0.17333333rem;
  margin-top: -0.21333333rem;
  margin-left: -0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-04 {
  padding-bottom: 0.06666667rem;
  border-bottom: 0.01333333rem dashed black;
}
.text01-top01 .text01-top01-left .text01-top01-left-04 ul {
  list-style: none;
  display: flex;
  font-size: 0.17333333rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-04 ul .li01 {
  margin-right: 0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-04 ul .li02 {
  margin-left: 0.04rem;
  margin-right: 0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-04 ul .li02::after {
  content: "";
  display: block;
  background: black;
  width: 0.01333333rem;
  height: 0.17333333rem;
  margin-top: -0.21333333rem;
  margin-left: -0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-04 ul .li03 {
  margin-left: 0.04rem;
  margin-right: 0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-04 ul .li03::after {
  content: "";
  display: block;
  background: black;
  width: 0.01333333rem;
  height: 0.17333333rem;
  margin-top: -0.21333333rem;
  margin-left: -0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-04 ul .li04 {
  margin-left: 0.04rem;
  margin-right: 0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-04 ul .li04::after {
  content: "";
  display: block;
  background: black;
  width: 0.01333333rem;
  height: 0.17333333rem;
  margin-top: -0.21333333rem;
  margin-left: -0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-04 ul .li05 {
  margin-left: 0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-04 ul .li05::after {
  content: "";
  display: block;
  background: black;
  width: 0.01333333rem;
  height: 0.17333333rem;
  margin-top: -0.21333333rem;
  margin-left: -0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-05 {
  padding-bottom: 0.06666667rem;
  border-bottom: 0.01333333rem dashed black;
}
.text01-top01 .text01-top01-left .text01-top01-left-05 ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.17333333rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-05 ul .li01 {
  margin-right: 0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-05 ul .li02 {
  margin-right: 0.04rem;
  margin-left: 0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-05 ul .li02::after {
  content: "";
  display: block;
  background: black;
  width: 0.01333333rem;
  height: 0.17333333rem;
  margin-top: -0.21333333rem;
  margin-left: -0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-05 ul .li03 {
  margin-right: 0.04rem;
  margin-left: 0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-05 ul .li03::after {
  content: "";
  display: block;
  background: black;
  width: 0.01333333rem;
  height: 0.17333333rem;
  margin-top: -0.21333333rem;
  margin-left: -0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-05 ul .li04 {
  margin-right: 0.04rem;
  margin-left: 0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-05 ul .li04::after {
  content: "";
  display: block;
  background: black;
  width: 0.01333333rem;
  height: 0.17333333rem;
  margin-top: -0.21333333rem;
  margin-left: -0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-05 ul .li05 {
  margin-right: 0.04rem;
  margin-left: 0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-05 ul .li05::after {
  content: "";
  display: block;
  background: black;
  width: 0.01333333rem;
  height: 0.17333333rem;
  margin-top: -0.21333333rem;
  margin-left: -0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-06 {
  margin-bottom: 0.04rem;
  border-bottom: 0.01333333rem dashed black;
}
.text01-top01 .text01-top01-left .text01-top01-left-06 ul {
  list-style: none;
  display: flex;
  font-size: 0.17333333rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-06 ul .li01 {
  margin-right: 0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-06 ul .li02 {
  margin-left: 0.04rem;
  margin-right: 0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-06 ul .li02::after {
  content: "";
  display: block;
  background: black;
  width: 0.01333333rem;
  height: 0.17333333rem;
  margin-top: -0.21333333rem;
  margin-left: -0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-06 ul .li03 {
  margin-left: 0.04rem;
  margin-right: 0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-06 ul .li03::after {
  content: "";
  display: block;
  background: black;
  width: 0.01333333rem;
  height: 0.17333333rem;
  margin-top: -0.21333333rem;
  margin-left: -0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-06 ul .li04 {
  margin-left: 0.04rem;
  margin-right: 0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-06 ul .li04::after {
  content: "";
  display: block;
  background: black;
  width: 0.01333333rem;
  height: 0.17333333rem;
  margin-top: -0.21333333rem;
  margin-left: -0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-06 ul .li05 {
  margin-left: 0.04rem;
}
.text01-top01 .text01-top01-left .text01-top01-left-06 ul .li05::after {
  content: "";
  display: block;
  background: black;
  width: 0.01333333rem;
  height: 0.17333333rem;
  margin-top: -0.21333333rem;
  margin-left: -0.04rem;
}
@media screen and (max-width: 369px) {
  .text01-top01 .text01-top01-conter {
    width: 4rem;
    height: 5.33333333rem;
    background: url(../images/banner.png) no-repeat;
    background-size: 4rem 5.33333333rem;
  }
}
@media screen and (min-width: 370px) {
  .text01-top01 .text01-top01-conter {
    width: 4.66666667rem;
    height: 5.33333333rem;
    background: url(../images/banner.png) no-repeat;
    background-size: 4.66666667rem 5.33333333rem;
  }
}
@media screen and (min-width: 439px) {
  .text01-top01 .text01-top01-conter {
    width: 5.2rem;
    height: 5.33333333rem;
    background: url(../images/banner.png) no-repeat;
    background-size: 5.33333333rem 5.33333333rem;
  }
}
@media screen and (min-width: 440px) {
  .text01-top01 .text01-top01-conter {
    width: 5.6rem;
    height: 5.33333333rem;
    background: url(../images/banner.png) no-repeat;
    background-size: 5.6rem 5.33333333rem;
  }
}
@media screen and (max-width: 369px) {
  .text01-top01 .text01-top01-right {
    width: 2.93333333rem;
  }
}
@media screen and (min-width: 370px) {
  .text01-top01 .text01-top01-right {
    width: 2.66666667rem;
  }
}
.text01-top01 .text01-top01-right .text01-top01-right-top {
  height: 50%;
  background: #FFFFFF;
  border-bottom: 0.01333333rem dashed black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text01-top01 .text01-top01-right .text01-top01-right-top .text01-top01-right-top01 {
  width: 1.06666667rem;
  height: 1.06666667rem;
  background: url(../images/avatar.png) no-repeat;
  background-size: 1.06666667rem 1.06666667rem;
}
.text01-top01 .text01-top01-right .text01-top01-right-top .text01-top01-right-top02 {
  font-size: 0.16rem;
}
.text01-top01 .text01-top01-right .text01-top01-right-top .text01-top01-right-top03 {
  display: flex;
  font-size: 0.17333333rem;
}
.text01-top01 .text01-top01-right .text01-top01-right-top .text01-top01-right-top03 .text01-top01-right-top0301 {
  color: white;
  background-color: red;
  padding: 0.06666667rem 0.13333333rem;
  margin-right: 0.13333333rem;
}
.text01-top01 .text01-top01-right .text01-top01-right-top .text01-top01-right-top03 .text01-top01-right-top0302 {
  color: white;
  background-color: green;
  padding: 0.06666667rem 0.13333333rem;
}
.text01-top01 .text01-top01-right .text01-top01-right-butt {
  height: 50%;
  background: #FFFFFF;
  font-size: 0.24rem;
}
.text01-top01 .text01-top01-right .text01-top01-right-butt u {
  margin-left: 0.13333333rem;
}
.text01-top01 .text01-top01-right .text01-top01-right-butt div {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.13333333rem;
  margin-left: 0.26666667rem;
}
.text01-top01 .text01-top01-right .text01-top01-right-butt div .text01-top01-right-butt-ul01 {
  display: flex;
  flex-direction: column;
}
.text01-top01 .text01-top01-right .text01-top01-right-butt div .text01-top01-right-butt-ul02 {
  display: flex;
  flex-direction: column;
  list-style: none;
}
